html{
    width: 300px;
}
.container-fluid{
    padding-top: 15px;
    padding-bottom: 15px;
}
h2{
    font-size: 1.5em !important;
}
#currentState{
    text-align: center;
}
footer{
    text-align: center;
    font-size: 5px;
}
.card{
    animation-delay: 0.25s;
}